os: linux
dist: xenial

services:
  - docker

language: c

env:
  - TARGET_DISTRIBUTION=amazonlinux2

script:
  - make "$TARGET_DISTRIBUTION"

before_deploy:
  - make bintray

deploy:
  - provider: bintray
    user: shogo82148
    key: '$BINTRAY_API_KEY'
    file: ./bintray/bintray-fluent-bit.json
    cleanup: false
